<% include header %>
    <h1> "<%= entries.currentPoll.title %>" </h1>
    <h2> <%= entries.currentPoll.displayQuestion %> </h2>
    <% if(entries.warning) { %>
        <p> Error, you must select an option </p>
    <% } %>
    <form id='myform' method='post' action='/savePollVote'>
        <input hidden value=<%= entries.currentPoll._id %> name='pollId'/>
        <% for(var i = 0; i < entries.currentPoll.options.length; i++) { %>
            <input class='voteop' type='radio' value='<%= entries.currentPoll.options[i]; %>' name='vote'/> <%= entries.currentPoll.options[i]; %>
            <br>
        <% } %>
        <input type=button onclick='checkSubmit()' value='Vote'/>
    </form>


   <script> 
        var checkSubmit = function(){
            var doc = document.getElementsByClassName('voteop');

            var oneChecked = function(docs){
                for(var i = 0; i < docs.length; i++){
                    if(docs[i].checked === true) return true;
                }
                return false;
            }

            if(oneChecked(doc))
                document.getElementById('myform').submit();
            else alert('You must make a choice before you submit your answer');
            return;
        }
    </script>
<% include footer %>
